@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url("../public/img-noise-361x370.png");
  background-repeat: repeat;
  
}


body {
  color: #fff;
}

body .scrolled {
  background-image: url("../public/img-noise-361x370.png");
}
