---
import Layout from "@layouts/Layout.astro"
import Header from "@components/Header.astro"
import AboutMe from "@components/AboutMe.astro"
import Projects from "@components/Projects.astro"
import Footer from "@components/Footer.astro"
---

<Layout>
	<Header />
	<div>
		<AboutMe />
		<Projects />
	</div>
	<Footer />
</Layout>

<style>
	layout {
		display: grid;
		min-height: 100dvh;
		grid-template-rows: auto 1fr auto;
	}
</style>