---
export interface Props{
    title: string;
    description: string;
    url: string;
}
const { title, description, url }: Props = Astro.props;
---
<a href={url} target="_blank" rel="noopener noreferrer">
    <button type="button" class="card-btn hover:scale-102 focus:ring-2 transition-transform duration-100 ease-in-out w-full min-h-56 cursor-pointer">
        <h1 class="font-semibold text-xl uppercase">{title}</h1>
        <p class="pt-5">{description}</p>
        <p class="pt-10">{"You can click this button to go to " + url}</p>
    </button>
</a>
<style>
    a {
        text-decoration: none;
    }
    .card-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 1rem;
        transition: background-color 0.3s, transform 0.3s;
        border: 1px solid;
        box-sizing: border-box;
    }
</style>