---
---
<footer class="min-w-full bg-gray-200 dark:bg-gray-950 text-center backdrop:blur-sm p-4">
    <div>
        <p class="text-sm text-gray-700 dark:text-gray-300">
        © {new Date().getFullYear()} Pablo García. All rights reserved.
        </p>
        <p class="text-xs text-gray-600 dark:text-gray-300">
        Built with <a href="https://astro.build" class="text-blue-500 dark:text-blue-300 hover:underline">Astro</a> and <a href="https://tailwindcss.com" class="text-blue-500 hover:underline dark:text-blue-300">Tailwind CSS</a>.
        </p>
    </div>
</footer>