---
---
<footer class="min-w-full bg-gray-200 text-center backdrop:blur-sm p-4">
    <div>
        <p class="text-sm text-gray-700">
        © {new Date().getFullYear()} Pablo García. All rights reserved.
        </p>
        <p class="text-xs text-gray-600">
        Built with <a href="https://astro.build" class="text-blue-500 hover:underline">Astro</a> and <a href="https://tailwindcss.com" class="text-blue-500 hover:underline">Tailwind CSS</a>.
        </p>
    </div>
</footer>