---
export interface Props {
    name: string;
    color?: string;
    width?: string;
    height?: string;
}
const { name, color, width, height }: Props = Astro.props;
---
<span
    class={`inline-block ${width} ${height} text-center text-sm font-semibold px-3 py-1 border`}
    style={`background-color: ${color ?? 'transparent'};`}
>
        {name}
</span>
<style>
</style>
