:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    --background-color: #ffffff;
    --text-color: #000000;
    --link-color: #bb86fc;
    --button-background: #f0f0f0;
    --button-text-color: #000000;
}

:root.dark {
        --background-color: #121212;
        --text-color: #e0e0e0;
        --link-color: #1a0dab;
        --button-background: #1f1f1f;
        --button-text-color: #e0e0e0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

footer a {
    color: var(--background-color);
}

button {
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

button a {
    color: var(--button-text-color);
}

main {
    flex: 1;
}

footer {
    display: grid;
    grid-template-areas:
        "contact socials"
        "credits credits";
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 20px;
    font-size: 0.9rem;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    display: block;
    list-style: none;
}

.icon{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.contact-me {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.socials {
    grid-area: socials;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credits {
    grid-area: credits;
    text-align: center;
    margin-top: 3ex;
    font-size: large;
}

header {
    position: fixed;
    top: 0;
    left: 25%;
    z-index: 1000;
    width: 50%;
    place-self: center;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: rgb(from var(--text-color) r g b / 0.75);
    color: var(--background-color);
    padding: 20px;
    text-align: center;
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

header nav {
    justify-self: end;
    align-self: center;
    font-size: 1.25rem;
    display: flex;
    gap: 1.5rem;
    opacity: 1;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 3rem;
    opacity: 1;
}


section.hero {
    min-height: 600px;
    height: 75vh;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding: 0 5%;
}

.picture {
    max-height: 300px;
    width: auto;
    border-radius: 15px;
    justify-self: center;
    align-self: center;
}

section.experience {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;    
    padding: 5%;
    padding-top: 0;
}

section.experience h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.job {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    max-width: 800px;
}

.job:nth-child(odd) {
    background-color: rgb(from var(--text-color) r g b / 0.05);
}